# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# =========================
# Virtual Environments
# =========================
pyms/
venv/
.env
.env.*

# =========================
# IDE / Editors
# =========================
.vscode/
.idea/
*.swp

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# Docker
# =========================
docker-data/
redis-data/
kafka-data/

# =========================
# Testing / Coverage
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Build / Distribution
# =========================
build/
dist/
*.egg-info/
